if SHIELD_POPCORNE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Popcorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_POPCORNE_LEFT || SHIELD_POPCORNE_RIGHT

config ZMK_SPLIT
    default y

endif
